body {
  background-color: #333333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.input-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.submit-btn{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn{
  height: 36px;
  width: 100px;
}

.exact-input{
  height: 36px;
  width: 100%;
  text-align: center;
}
