body {
  background-color: #333333;
  height: 100vh;
  margin: 0;
}
.inner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
}

.input-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.submit-btn {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  height: 36px;
  width: 100px;
  background-color: #6495ed;
  color: white !important;
}

.exact-input {
  height: 36px;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
  background-color: #333333;
  color: white !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 700px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
  display: flex;
  justify-content: center;
}

.display {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
